.service-box {
    width: 33.33333%;
    display: flex;
    flex-direction: column;
}

.service-box img {
    margin-bottom: 90px;
    max-width: 86px;
}

.service-box h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 25px;
}

.service-box .desc {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.service-box .desc p {
    margin-bottom: 20px;
    width: 80%;
}

.service-box .desc ul {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: flex-end;
}
