.hero-section .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 125px 0;
}

.hero-section .picture {
    width: 50%;
    /* position: relative; */
}

.hero-section .picture img {
    width: 550px;
    position: absolute;
    left: -2px;
    top: 50px;
    z-index: -1;
}

.hero-section .text {
    width: 50%;
    font-size: 70px;
    font-weight: 200;
    line-height: 70px;
}

.hero-section .text span {
    font-weight: 600;
}
