* {
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

:root {
    --purple: #cdb4db;
    --lightPink: #ffc8dd;
    --pink: #ffafcc;
    --blue: #bde0fe;
    --lightBlue: #a2d2ff;
}

.container {
    margin: 0 60px;
    max-width: 100% !important;
    width: calc(100% - 120px);
    padding: 0;
}

body {
    position: relative;
}
