.contact-section .section {
    padding-bottom: 0;
}

.contact-section .content::before {
    left: 60px;
}

.contact-section .content .bg {
    background: linear-gradient(
        184.1deg,
        #cdb4db -48.94%,
        rgba(205, 180, 219, 0.348949) -12.4%,
        rgba(205, 180, 219, 0.468391) 2.92%,
        rgba(205, 180, 219, 0.848958) 32.07%,
        rgba(205, 180, 219, 0) 94.53%
    );
    mix-blend-mode: normal;
    opacity: 0.2;
    backdrop-filter: blur(2px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.contact-section .content .container {
    padding: 160px 0 0;
}

.contact-section .content .container form {
    width: 50%;
    margin: 0 auto;
    background-color: #fcf8f8;
    border-radius: 15px;
    padding: 85px 54px 38px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.contact-section .content .container form .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 16px;
}

.contact-section .content .container form .box .contact-field {
    flex: 1;
}

.contact-section .content .container form button {
    border: none;
    font-size: 20px;
    font-weight: 500;
    width: fit-content;
    padding: 15px 80px;
    border-radius: 7px;
    cursor: pointer;
    background-color: var(--purple);
    align-self: end;
}
