.contact-section .section {
    padding: 0;
}

.contact-section .section h2 {
    padding: 75px 0 30px;
    margin: 0;
    background-color: #fff;
}

.contact-section .content::before {
    left: 60px;
}

.contact-section .content .container {
    padding: 160px 0 0;
}

.contact-section .content .container form {
    width: 50%;
    margin: 0 auto;
    background-color: #fcf8f8;
    border-radius: 15px;
    padding: 85px 54px 38px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.contact-section .content .container form .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 16px;
}

.contact-section .content .container form .box .contact-field {
    flex: 1;
}

.contact-section .content .container form button {
    border: none;
    font-size: 20px;
    font-weight: 500;
    width: fit-content;
    padding: 15px 80px;
    border-radius: 7px;
    cursor: pointer;
    background-color: var(--purple);
    align-self: end;
}

@media (max-width: 767px) {
    .contact-section .content .container form {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .contact-section .content .container form .box {
        flex-direction: column;
        row-gap: 25px;
    }

    .contact-section .content .container form button {
        padding: 15px 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .contact-section .content .container form {
        width: 95%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .contact-section .content .container form {
        width: 70%;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .contact-section .content .container form {
        width: 60%;
    }
}

@media (min-width: 1400px) {
}
