.navbar .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0 10px;
    position: relative;
}

.navbar .logo {
    width: 50%;
}

.navbar .logo h1 {
    font-size: 27.15px;
    font-weight: 500;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    column-gap: 48px;
    width: 50%;
    font-size: 16px;
}

.navbar ul li {
    cursor: pointer;
}

.navbar ul li:last-of-type {
    position: relative;
    font-weight: bold;
    overflow: visible;
}

.navbar ul li:last-of-type div {
    position: absolute;
    top: -67px;
    right: 50%;
    width: 113px;
    height: 146px;
    background-color: var(--purple);
    z-index: -1;
    transform: translateX(50%);
    transition: all 0.5s ease-in-out;
}

.navbar ul li:hover:last-child div {
    transform: translate(50%, -25px);
}

.navbar hr {
    width: 95%;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 75px;
    z-index: -2;
}
