.navbar .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0 10px;
    position: relative;
}

.navbar .logo {
    width: 50%;
}

.navbar .logo h1 {
    font-size: 27.15px;
    font-weight: 500;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    column-gap: 48px;
    width: 50%;
    font-size: 16px;
    position: relative;
}

.navbar ul .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
    display: none;
}

.navbar ul .close:hover {
    opacity: 1;
}

.navbar ul .close:before,
.navbar ul .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #000;
}

.navbar ul .close:before {
    transform: rotate(45deg);
}

.navbar ul .close:after {
    transform: rotate(-45deg);
}

.navbar ul li {
    cursor: pointer;
}

.navbar ul li:last-of-type {
    position: relative;
    font-weight: bold;
    overflow: visible;
}

.navbar ul li:last-of-type div {
    position: absolute;
    top: -67px;
    right: 50%;
    width: 113px;
    height: 146px;
    background-color: var(--purple);
    z-index: -1;
    transform: translateX(50%);
    transition: all 0.5s ease-in-out;
}

.navbar ul li:hover:last-child div {
    transform: translate(50%, -25px);
}

.navbar .hamburger-menu {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    cursor: pointer;
    display: none;
}

.navbar .hamburger-menu div {
    background-color: #000;
    width: 28px;
    height: 4px;
    border-radius: 10px;
}

.navbar hr {
    width: 95%;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 75px;
    z-index: -2;
}

@media (max-width: 767px) {
    .navbar .logo {
        flex: 1;
    }

    .navbar ul {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: var(--purple);
        flex-direction: column;
        z-index: 2;
        align-items: center;
        justify-content: center;
        row-gap: 40px;
        font-size: 30px;
        transition: all 0.5s ease-in-out;
    }

    .navbar ul.show {
        left: 0;
    }

    .navbar ul .close {
        display: block;
    }

    .navbar ul li {
        transition: all 0.25s ease-in-out;
    }

    .navbar ul li:hover {
        transform: translateX(10px);
    }

    .navbar ul li:last-of-type {
        font-weight: 400;
    }

    .navbar ul li:last-of-type div {
        display: none;
    }

    .navbar .hamburger-menu {
        display: flex;
    }

    .navbar hr {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar .container {
        margin: 0 30px;
    }

    .navbar ul {
        column-gap: normal;
        justify-content: space-between;
    }

    .navbar ul li:last-of-type div {
        width: 90px;
        height: 125px;
    }

    .navbar ul li:hover:last-child div {
        transform: translate(50%, -15px);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar ul {
        column-gap: normal;
        justify-content: space-between;
    }

    .navbar ul li:last-of-type div {
        width: 90px;
        height: 125px;
    }

    .navbar ul li:hover:last-child div {
        transform: translate(50%, -15px);
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
}

@media (min-width: 1400px) {
}
